In [1]:
# if we can pass a function as a argument to another function
# all high order functions are first class functions but vice versa not true

In [2]:
def func(a,b):
    return a+b
def addnumber(x,y):
    print(x,y(10,20))
addnumber(40,func)

40 30

In [3]:
def square(x):
    return x**2
def cube(n,fnt):
    print(n*fnt(n))
cube(4,square)

64

In [4]:
# lambda functions

In [5]:
func = lambda x,y:x+y
func(10,20)

30

In [6]:
def cube(x):
    c=lambda x:x**2
    print(x*c(x))
cube(4)

64

In [4]:
x="arra"
y="bgga"
l1=[]
l2=[]
for i in x:
    l1.append(x.index(i))
for j in y:
    l2.append(y.index(j))
if l1==l2:
    print(True)
else:
    print(False)

False

In [11]:
prices = [7,1,5,3,6,4]
buy=0
sell=1
maxx=0
while sell<len(prices):
    if prices[sell]>prices[buy]:
        profit= prices[sell]-prices[buy]
        maxx=max(maxx,profit)
    else:
        buy=sell
    sell+=1  
print(maxx)

5

In [1]:
def square(x):
    return x**2
l=[10,20,30]
out=map(square,l)
next(out)

100

In [2]:
next(out)

400

In [3]:
def square(x):
    return x**2
l=[10,20,30]
list(map(square,l))

[100, 400, 900]

In [4]:
list(map(lambda x:x**2,l))

[100, 400, 900]

In [7]:
list(filter(lambda x:x%3==0,l))

[30]

In [8]:
# Exceptional handling

try:
    print(10)
    print(num123)
except:
    print("Error occured")

10
Error occured

In [13]:
try:
    print(10)
    print(num123)
except NameError as e:
    print("Error occured",e)

10
Error occured name 'num123' is not defined

In [15]:
try:
    print(10)
    print(num123)
    "hey"+20
except (NameError,TypeError) as e:
    print("Error occured",e)

10
Error occured name 'num123' is not defined

In [18]:
try:
    print(10)
    print(num123)
    "hey"+20
except (NameError,TypeError) as e:
    print("Error occured",e)
except Exception as e:
    print("Error occured",e)

10
Error occured name 'num123' is not defined

In [21]:
try:
    print(10)
    print(num123)
    "hey"+20
except (NameError,TypeError) as e:
    print("Error occured",e)
finally:
    print("always excute block")

10
Error occured name 'num123' is not defined
always excute block

In [54]:
nums = [1,2,3,4,5,6,7] 
k = 3
n=len(nums)
myarr=[0]*n
k=k%n
for i in range(0,n):
    pos=(i+k)%n
    myarr[pos]=nums[i]
nums[:]=myarr    
nums

[2, 3, 1, 7, 4, 5, 6]

In [70]:

class Solution:
    def twoSum(self, numbers: List[int], target: int) -> List[int]:
        i=0
        j=len(numbers)-1

        while i<len(numbers):
            v=numbers[i]+numbers[j]
            if v>target:
                j-=1
            elif v<target:
                i+=1
            else:
                return [i+1,j+1]

[2, 3]

In [13]:
nums = [-2,0,1,3]
target = 1
n=len(nums)
t=0
for i in range(n):
    j,k=i+1,n-1
    
    while j<k:
        v=nums[i]+nums[j]+nums[k]
        if v>target:
            k-=1
        else:
            t+=k-j
            j+=1
    
print(t)

2

In [1]:
# collections
from collections import Counter
l=[10,20,30,30,10,10,30,20,40]
a=Counter(l)
print(a)

Counter({10: 3, 30: 3, 20: 2, 40: 1})

In [2]:
a.most_common(1)

[(10, 3)]

In [3]:
list(a.elements())

[10, 10, 10, 20, 20, 30, 30, 30, 40]

In [7]:
def func():
    return "not a value"

from collections import defaultdict
d=defaultdict(func)
d['a']=10
d['b']
print(d.items())

dict_items([('a', 10), ('b', 'not a value')])

In [14]:
mylist=[(10,"tushar"),(20,"aman"),(30,"abc")]
s=defaultdict(list)

for roll,name in mylist:
    s[roll].append(name)
print(s.items())

s[40]
print(s.items())

dict_items([(10, ['tushar']), (20, ['aman']), (30, ['abc'])])
dict_items([(10, ['tushar']), (20, ['aman']), (30, ['abc']), (40, [])])

In [21]:
from collections import OrderedDict

o=OrderedDict()
o["a"]=1
o["b"]=99
o["aa"]=123
print(o)
o.move_to_end("b",last=False)
print(o)

OrderedDict({'a': 1, 'b': 99, 'aa': 123})
OrderedDict({'b': 99, 'a': 1, 'aa': 123})

In [23]:
from collections import namedtuple

point123=namedtuple('point',['x','y'])
p=point123(11,22)
print(p.x,p[0])
print(p.y,p[1])

11 11
22 22

In [26]:
from collections import deque
d=deque([1,234,2,33,445,6,4])
d.append(43)
d.appendleft(23)
d

deque([23, 1, 234, 2, 33, 445, 6, 4, 43])