In [9]:
#day1


#Q1
name=input("enter your name")
print("Hello,",name)

enter your name nikhil

Hello, nikhil

In [1]:
#Q2
x=int(input("enter first no."))
y=int(input("enter second no."))
sum_=x+y
if(sum_>0):
    print("sum is positive")
else:
    print("sum is negative")

enter first no. -2
enter second no. 1

sum is negative

In [17]:
#Q3
x=int(input("enter no."))
while(True):
    y=int(input("enter confirm no."))
    if(x==y):
        print("correct")
        break

enter no. 13
enter confirm no. 12
enter confirm no. 12
enter confirm no. 12
enter confirm no. 12
enter confirm no. 12
enter confirm no. 12
enter confirm no. 13

correct

In [4]:
#Q4
firstname =input("enter your first name")
lastname = input("enter your last name")
wholename=firstname+'.'+lastname
print(wholename)

enter your first name nikhil
enter your last name kumawat

nikhil.kumawat

In [28]:
#Q5
user_input = input("Enter your full name: ")
user_input1 = ''
for i in user_input:
    if('A' <= i <= 'Z'):
        user_input1 += i.lower()
    elif('a' <= i <= 'z'):
        user_input1 += i.upper()
print(user_input1)

Enter your full name:  Nikhil Kumawat

nIKHILkUMAWAT

In [6]:
#Q6
mylist=[1,2,3,4]
sum=0
for i in mylist:
    sum+=i
print("total sum",sum)
multiply=1
for i in mylist:
    multiply*=i
print("toatal product",multiply)

total sum 10
toatal product 24

In [19]:
#Q7
x=10
a=[1,2,3,4,5,6,7,8]
y=False
for i in a:
    if(i==x):
        y=True
        break
if(y==True):
    print(x,"is in the list")
else:
    print(x,"is not in the list")

10 is not in the list

In [24]:
#Q8
list1=[1,2,3,4,5]
list2=[6,7,8,9,10]
x=False
for i in list1:
    for j in list2:
        if(i==j):
            x=True
            break
        else:
            break
if(x==True):
    print("have common member")
else:
    print("not have common member")

not have common member

In [33]:
#by using function:
def is_member(x,a):
    for i in a:
        if(i==x):
            return True
    
        
mylist1=[1,2,3,4,5]
mylist2=[5,6,7,8,9]
y=False
for i in mylist1:
    if(is_member(i,mylist2)):
        y=True
        break

if(y==True):
    print("has common element")
else:
    print("has not common element")

has common element

In [40]:
#Q9
list=[5,8,4]
for i in list:
    y=i*'*'
    print(y)

*****
********
****

In [ ]:
a. Find the athletes who participated only in 100m race 
b. Find the athletes who participated only in 200m race
c. Find the athletes who participated both 100m and 200m race
d. Find the athletes who participated only one race

In [55]:
#Q10
hundred_meters = {'Vikay','John','Kumar','Rajesh','Malar','Vaihai'}
two_hundred_meters = {'Vetry','Petter','Priyanka','Kumar','Malar'}

race_100m=hundred_meters.difference(two_hundred_meters)
print("the athletes who participated only in 100m:",race_100m)
race_200m=two_hundred_meters.difference(hundred_meters)
print("the athletes who participated only in 200m:",race_200m)
race_both= hundred_meters.intersection(two_hundred_meters)
print("the athletes who participated in both:",race_both)
race_one=hundred_meters.symmetric_difference(two_hundred_meters)
print("the athletes who participated only in one race:",race_one)

the athletes who participated only in 100m: {'Rajesh', 'Vikay', 'Vaihai', 'John'}
the athletes who participated only in 200m: {'Vetry', 'Petter', 'Priyanka'}
the athletes who participated in both: {'Malar', 'Kumar'}
the athletes who participated only in one race: {'Petter', 'Priyanka', 'John', 'Vetry', 'Rajesh', 'Vaihai', 'Vikay'}

In [14]:
#Q11
my_list = [5, 8, 4, 18, 8, 55, 6, 8, 3, 18, 5, 3, 44]
y=set()
duplicate_numbers = []
for i in my_list:
    if(i in y):
      duplicate_numbers.append(i)
    else:
        y.add(i)

print("Duplicate numbers:", duplicate_numbers)

Duplicate numbers: [3, 5, 3, 18, 2]

In [12]:
#Q12
list = ["cat","tiger","lion", "zebra" , "crocodile", "snack"]
reverselist=[]
for i in list:
    reverselist.insert(0,i)

print(reverselist)

['snack', 'crocodile', 'zebra', 'lion', 'tiger', 'cat']